{{#each this}}
  <li class='notes-line'>
    <ul class='notes-line__list'>
      <li><div class='notes-line__column__wrapper'>{{{image}}}
        </div></li>
      <li class='notes-line__column column-one'>

        {{name}}</li>
      <li class='notes-line__column column-two'>{{created}}</li>
      <li class='notes-line__column column-three'>{{category}}</li>
      <li class='notes-line__column column-four'>{{content}}</li>
      <li class='notes-line__column column-five'>{{dates}}</li>
      <li class='notes-line__column column-six'>
        <button type='button' class='button-edit' data-index={{id}}>
          <i class='fa-solid fa-pencil button-edit' data-index={{id}}></i></button>
        <button type='button' class='button-archived' data-index={{id}}>
          <i class='fa-solid fa-box-archive'></i></button>
        <button type='button' class='button-deleted' data-index={{id}}>
          <i class='fa-solid fa-trash-can'></i></button>
      </li>
    </ul>

  </li>
{{/each}}